.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
table,
th,
td,
form,
fieldset,
legend,
textarea,
input,
select,
textarea,
button,
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  margin: 0;
  padding: 0;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
  display: block;
} /* for ie8 */
html,
body {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
} /* for mobile */
body,
input,
select,
textarea,
button {
  font-family: '공통 폰트', sans-serif;
}
ul,
ol {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
select {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
}
input::-ms-clear {
  display: none;
}
img,
fieldset {
  border: 0;
  vertical-align: top;
}
em,
address {
  font-style: normal;
}
.blind,
caption span,
legend {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
}
a {
  color: #333;
  text-decoration: none;
}

/* Navigation */
.nav_black {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  box-sizing: border-box;
}

/* Blog */
.btn_box {
  padding: 10px 20px;
  text-align: center;
}
.btn_box .btn {
  padding: 5px 10px;
  border: 1px solid #000;
}
.btn + .btn {
  margin-left: 10px;
}
.blog_list_item {
  position: relative;
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #aaa;
}
.blog_desc {
  display: block;
  margin-top: 5px;
}
.btn_like {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
}

/* Modal */
.modal {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #e6e6e6, -8px -8px 16px #ffffff;
}
.modal_date {
  display: block;
  margin-top: 20px;
}
.modal_content {
  display: block;
}
